
body{

background: url("coffee.jpg")
no-repeat center center fixed;

background-size: cover;

}

div{
	background-color:lightblue;
}



h1{

	color:rgb(18,184,134);
	text-align: center;
 /*   border:2px solid yellow;*/ 

    width: 300px;
    padding: 20px;
    margin: 200px auto;

font-family: 'Aleo', serif;
font-size: 2em;
}