body{

	background-color: skyblue;
}

	

#clock{
	background-color: skyblue;
	margin-top: 200px;
	padding: 45px;
	width: 100%;
	font-size: 4em;
	position: relative;
	text-align: center;
	top :50%;
	font-family : 'Bungee Shade', cursive;

}

	