html{
	height:100%;
}

.navbar{
   color: black;

}
body{
	background: url(../image/coffee.jpg);
	background-size: cover;
	background-position:  center;

}
p{
	color:skyblue;
}

i{
     color:skyblue

}

.container{
	text-align: center;
}

h1{
	background-color: #dddddd;
	opacity: 0.7;
}

 li {
	list-style-type:  none;
	padding: 5px;
}

#login{

	min-width: 250px;
	
}
 
 #login .social-buttons{
	margin: 12px 0px;
}

.btn-fb{
	color: #fff;
	background-color: #3b599d;
	border-radius: 3px;
}

.btn-tw{
	color: #fff;
	background-color:#55acee;
   margin: 5px;
   border-radius: 3px;
   
}
.logo{
	margin-top: 100px;
}
 p{ 
 	
	background-color: skyblue;
	opacity: 0.9;
	color: white;
}